.action {
  display: flex;
  justify-content: space-between;
  width: clamp(365px, 37.8%, 461px);

  @include vp-1023 {
    width: max-content;
    margin-right: 3%;
  }
}

.action__link {
  display: flex;
  min-width: max-content;
  height: 20px;
  justify-content: center;
  line-height: 18px;
  color: $color-default-white;

  p {
    margin: 0;

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-1023 {
    min-width: 40px;
    height: 40px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include hover {
    opacity: 0.5;
  }
}

.action__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;

  &--mail {
    background-image: url("../img/svg/letter.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../img/svg/phone-call.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @include vp-1023 {
    margin: auto;
  }
}
