.company-info__wrapper {
  width: 89.7%;
  max-width: $vr-1220;
  min-height: 320px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 250px;
  background-image: url("../img/year-1x.png");
  background-repeat: no-repeat;
  background-size: 150px 320px;

  @include retina {
    @media (min-width: 768px) {
      background-image: url("../img/year-2x.png");
    }
  }

  @include vp-1023 {
    min-width: $vr-670;
    width: 87%;
    margin-bottom: 80px;
    padding-left: 175px;
  }

  @include vp-767 {
    width: 84.3%;
    min-width: $vr-270;
    margin-bottom: 65px;
    padding-left: 0;
    background-image: none;
  }

  h2 {
    margin: 5px 0 13px 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    color: $color-default-black;

    @include vp-1023 {
      margin-top: 0;
      line-height: 49px;
    }

    @include vp-767 {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 18px;
    line-height: 22px;

    @include vp-1023 {
      margin-bottom: 20px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.company-info__text-wrapper {
  margin-bottom: 39px;

  @include vp-1023 {
    margin-bottom: 20px;
  }
}

.company-info__button {
  min-width: 180px;
  min-height: 45px;
  margin-top: 42px;
  padding: 14px 50px;
  color: $color-blue;
  border-color: $color-blue;

  @include vp-1023 {
    margin-top: -6px;
  }

  @include vp-767 {
    min-width: 160px;
    min-height: 35px;
    padding: 9px 40px;
  }
}
