.form-section {
  position: relative;
  background-color: #00b3ff;

  p {
    margin: 0;
    padding-left: 5px;
    line-height: 22px;
    color: #ffffff;

    @include vp-1023 {
      padding: 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 50.6% 0);
    background-color: rgba(4, 24, 39, 0.5);

    @include vp-1023 {
      display: none;
    }
  }

  .form-section__subtitile {
    position: relative;
    top: -10px;
    margin-bottom: 2px;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 36px;
    line-height: 51px;

    @include vp-1023 {
      position: static;
      top: 0;
      margin-bottom: 7px;
    }

    @include vp-767 {
      margin-bottom: 8px;
      font-size: 30px;
      line-height: 42px;
    }
  }
}

.form-section__wrapper {
  position: relative;
  width: 89.7%;
  max-width: $vr-1220;
  min-height: 840px;
  margin: 0 auto;
  padding: 175px 0;

  @include vp-1023 {
    min-width: $vr-670;
    width: 87%;
    min-height: 100%;
    padding: 45px 0 126px 0;
  }

  @include vp-767 {
    min-width: $vr-270;
    width: 84.3%;
    padding-top: 46px;
    padding-bottom: 90px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 246px;
    left: 0;
    z-index: 10;
    width: clamp(150px, 41.8%, 510px);
    height: 285px;
    background-image: url("../img/paper-airplane-1x.png");
    background-size: contain;
    background-repeat: no-repeat;


    @include vp-1023 {
      display: none;
    }

    @include retina {
      background-image: url("../img/paper-airplane-2x.png");
    }
  }
}

.form-section__form-wrapper {
  position: relative;
  z-index: 10;
  width: clamp(200px, 48%, 585px);
  margin-left: auto;
  margin-right: 12px;

  @include vp-1023 {
    width: 100%;
    margin: 0;
  }
}

.form-section__form {
  margin-top: 35px;
  padding-left: 5px;

  @include vp-1023 {
    margin-top: 25px;
    padding-left: 0;
  }

  @include vp-767 {
    margin-top: 34px;
    padding: 0;
  }
}
