.main-section {
  position: relative;
  top: -120px;
  z-index: -1;
  margin-bottom: -120px;
  padding-top: 305px;
  min-height: 880px;
  background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/microchip-1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @include retina {
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/microchip-2x.jpg");
  }

  @include vp-1023 {
    top: -100px;
    margin-bottom: -100px;
    padding-top: 180px;
    min-height: 640px;
    background-position: 20% 0;
  }

  @include vp-767 {
    top: -70px;
    margin-bottom: -70px;
    padding-top: 150px;
    min-height: 560px;
    background-position: 26% 0;
  }

  h1 {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-default-white;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    color: $color-default-white;

    @include vp-1023 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.main-section__button {
  width: 410px;
  height: 55px;
  padding: 15px 25px;
  font-size: 18px;
  line-height: 21px;
  background-color: $color-blue;
  border: none;

  @include vp-1023 {
    margin-left: clamp(5px, 6.7%, 60px);
  }

  @include vp-767 {
    width: 270px;
    height: 40px;
    margin-left: 0;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 16px;
  }
}

.main-section__wrapper {
  width: 89.7%;
  max-width: $vr-1220;
  margin: 0 auto;
  padding-left: clamp(50px, 10.2%, 120px);

  @include vp-1023 {
    min-width: $vr-670;
    width: 87%;
    padding-left: 0;
  }

  @include vp-767 {
    min-width: $vr-270;
    width: 84.3%;
  }
}
