.main-header {
  min-width: $vp-320;
  height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    height: 100px;
  }

  @include vp-767 {
    height: 70px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 89.7%;
  max-width: $vr-1220;

  @include vp-1023 {
    min-width: $vr-670;
    width: 87%;
  }

  @include vp-767 {
    min-width: $vr-270;
    width: 84.3%;
  }
}

.main-header__logo {
  margin-top: 30px;

  @include vp-1023 {
    margin-top: 20px;
    margin-right: auto;
  }

  @include vp-767 {
    margin-top: 15px;
  }
}

.main-header__action-buttons {
  margin-top: 45px;

  @include vp-1023 {
    margin-top: 20px;
  }

  @include vp-767 {
    margin-top: 10px;
  }
}

.main-header__set-call {
  width: 160px;
  height: 40px;
  margin: 35px 5.1% 0 0;

  @include vp-1023 {
    display: none;
  }
}
