.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-width: $vp-320;
  min-height: 120px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    position: static;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 89.7%;
  max-width: $vr-1220;

  @include vp-1023 {
    min-width: $vr-670;
    width: 87%;
  }

  @include vp-767 {
    min-width: $vr-270;
    width: 84.3%;
  }
}

.main-header__logo {
  margin-top: 30px;

  @include vp-1023 {
    margin-top: 20px;
    margin-right: auto;
  }

  @include vp-767 {
    margin-top: 10px;
  }
}

.main-header__action-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 45px;
  padding-right: 20px;

  @media (max-width: 1090px) {
    padding: 0;
  }

  @include vp-1023 {
    justify-content: end;
    max-width: 400px;
    margin-top: 20px;
    padding: 0;
  }

  @include vp-767 {
    max-width: 170px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.main-header__set-call {
  width: 160px;
  height: 47.1%;
  min-height: 40px;
  margin: 35px 5% 0 0;
  padding: 5px 15px;

  @include vp-1023 {
    display: none;
  }
}
