.privilege-list {
  display: grid;
  grid-template-columns: repeat(2, clamp(300px, 48.8%, 596px));
  grid-template-rows: repeat(2, auto);
  gap: 29px 31px;
  width: 100%;

  @include vp-1023 {
    grid-template-columns: repeat(2, clamp(300px, 47.8%, 450px));
    grid-template-rows: repeat(2, auto);
    gap: 20px 29px;
  }

  @include vp-767 {
    grid-template-columns: clamp(270px, 100%, 768px);
    grid-template-rows: repeat(4, auto);
    gap: 30px 0;
  }
}

.privilege-list__item {
  position: relative;
  min-height: 300px;
  padding: 40px 45px 35px 45px;

  @include vp-1023 {
    min-height: 360px;
    padding: 40px 30px 35px 45px;
  }

  @include vp-767 {
    min-height: 325px;
    padding: 30px;
    padding-bottom: 35px;

    &:first-child {
      min-height: 340px;
    }
  }

  svg {
    margin-bottom: 15px;
    fill: $color-blue;

    @include vp-1023 {
      margin-bottom: 5px;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    line-height: 38px;
    color: $color-blue;

    @include vp-1023 {
      margin-bottom: 10px;
      line-height: 38px;
    }

    @include vp-767 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 29px;
    }
  }

  p {
    margin: 0;
    font-family: "PT Mono", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $color-default-black;

    @include vp-1023 {
      line-height: 22px;
    }

    @include vp-767 {
      display: block;
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $color-blue;
  }

  @include hover {
    background-color: $color-blue;

    svg {
      fill: $color-default-white;
    }

    h3 {
      color: $color-default-white;
    }

    p {
      color: $color-default-white;
    }
  }
}
