.set-call-button {
  display: block;
  height: 40px;
  margin: 35px 5.1% auto auto;
  margin-right: 5.1%;
  width: 160px;
  padding: 10px 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background: none;
  border: 1px solid $color-default-white;
  border-radius: 3px;
  box-sizing: border-box;

  @include vp-1023 {
    display: none;
  }
}
