.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 380px;
  max-width: 420px;
  max-height: 150px;

  @include vp-1023 {
    min-width: 220px;
    max-width: 270px;
    max-height: max-content;
    margin-top: 23px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.site-list__item {
  max-width: 205px;
  margin-right: 15px;
  line-height: 20px;

  a {
    color: rgba(255, 255, 255, 0.7);

    @include hover-focus {
      color: $color-blue;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:nth-child(4n) {
    margin-bottom: 0;
  }

  @include vp-1023 {
    max-width: 100%;
    margin-right: 0;

    &:nth-child(4n) {
      margin-bottom: 10px;
    }
  }

  @include vp-767 {
    width: 100%;
    font-size: 14px;
    line-height: 19px;
  }
}
