.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 385px;
  max-height: 150px;

  @include vp-1023 {
    min-width: 220px;
    max-height: max-content;
  }
}

.site-list__item {
  max-width: 220px;
  margin-right: 30px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  a {
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);

    @include hover-focus {
      color: $color-blue;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:nth-child(4n) {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-right: 0;

    &:nth-child(4n) {
      margin-bottom: 10px;
    }
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
  }
}
