.social-list__item {
  svg {
    fill: #f8fdff;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  @include vp-1023 {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.social-list__link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  @include hover-focus {
    opacity: 0.7;
  }
}
