@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-Mono-Regular.woff2") format("woff2"),
    url("../fonts/pt-Mono-Regular.woff2") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-Medium.woff2") format("woff2"),
    url("../fonts/roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/robotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/robotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/robotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}
